<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
	  lang="en-AU">

<?python
from itertools import groupby
from viewutils import markdown, mini_markdown, tag_list
?>

<head>
    <title>&ldquo;${tag}&rdquo; tag</title>
</head>

<body>

    <h1>&ldquo;${tag}&rdquo; tag</h1>

    <div class="item blog-entry-stub" py:for="item in sorted(items, key=lambda e: e.publication_date, reverse=True)">
        <h3 class="entry-title"><a href="../blog/${item.id}">${item.title}</a></h3>
        <div class="date published">${item.publication_date.strftime(str('%-1d %b %Y'))}</div>
    </div>

</body>
</html>
