[global]
root = ./htdocs
xslt = ../sample.xsl

# Base for absolute URLs
url_base = http://localhost/

# These are used in Atom feeds
name = Joe Bloggs
email = user@domain.com

[disqus]
site = 

[homepage]
enabled = True
title = Joe Bloggs’ homepage
firehose_title = Joe Bloggs’ firehose
icbm = 38.897686,-77.036514
openid_server = 
openid_delegate = 
xrds = 

[blog]
enabled = True
title = Joe Bloggs’ blog

[tags]
enabled = True

[reading]
enabled = True
title Joe Bloggs’ reading log
