
body {
    font-family: "Cambria", "Liberation Serif", serif;
    line-height: 2.75ex;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}
#contentwrapper {
    border-bottom: 1px dashed #aaa;
    background-color: white;
    margin: 0;
    padding: 0.001em 1em;
}
#content {
    margin: 1em auto;
    max-width: 45em;
}

a {
    color: #0066b3;
}
a:visited {
    color: #990099;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Corbel", "Liberation Sans", sans-serif;
}
pre, code {
    font-family: "Consolas", monospace;
}
img {
    border: none;
}
blockquote {
    border-left: 3px solid #ddd;
    padding-left: 1em;
    margin-left: 2em;
}
pre {
    margin-left: 2em;
}
hr {
    border: none;
    border-top: 1px dashed #aaa;
    height: 0;
}

span.inlinesep {
    font-weight: bold;
    padding: 0 0.25em;
}
div.blocksep {
    font-size: 1.6em;
    text-align: center;
}

/* Styles which are common to all item types */
.item {
    padding: 2em 0;
    clear: both;
    border-top: 1px solid #ddd;
}
.item h3 {
    display: inline;
    margin-right: 0.5em;
}
.item .date {
    font-family: "Corbel", "Liberation Sans", sans-serif;
    display: inline;
    font-size: 1.2em;
    letter-spacing: 0.1ex;
    word-spacing: 0.1em;
    color: #888;
    white-space: nowrap;
    margin-right: 0.25em;
}
.item .date a {
    color: #888;
}

/* Blog entries */
.BlogEntry h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1ex;
    word-spacing: 0.2em;
}
.BlogEntry .tags {
    display: inline;
    font-style: italic;
    color: #888;
}
.BlogEntry .tags a {
    color: black;
    white-space: nowrap;
}
.BlogEntry .commentslink {
    text-align: right;
    font-style: italic;
}
.BlogEntry .commentslink a {
    color: #888;
    white-space: nowrap;
}

/* Reading log entries */
.ReadingLogEntry h3 {
    font-size: 1.2em;
    word-spacing: 0.1em;
}
.ReadingLogEntry h3 a {
    font-style: italic;
    margin-right: 0.2em;
}
.ReadingLogEntry .author {
    white-space: nowrap;
}
.ReadingLogEntry img.cover {
    float: right;
    margin: 0 0 1em 1em;
}
.ReadingLogEntry .rating {
    display: inline;
    white-space: nowrap;
}

/* Comments */
.entry .commentblock {
    margin: 2em 4em 0 4em;
    font-size: 0.9em;
}
.entry .commentblock h4 {
    font-size: 1.2em;
}
.entry .commentblock .commentmeta {
    text-align: right;
}
.entry .commentblock .commentmeta .commentdatetime {
    color: #888;
    margin: 0 0.5em;
}
.entry .commentblock .commentmeta .permalink {
    color: #888;
}

/* Comment form */
.entry .commentform label {
    display: block;
}
.entry .commentform input {
    display: block;
    width: 30em;
}
.entry .commentform textarea {
    width: 100%;
    font-size: 1em;
}

/* Previous/next links, if enabled */
#prevnextlinks {
    padding: 2em 0;
    clear: both;
    border-top: 1px solid #ddd;
    text-align: center;
}

/* Links at the bottom */
#links {
    padding: 0.5em 2em 2em 2em;
    margin-top: 1em;
}
.linkrow {
    text-align: center;
    margin: 1em 0;
}
.linkrow h2 {
    display: inline;
    font-size: 1.1em;
    margin-right: 1em;
}
.linkrow p {
    display: inline;
}
