ol#tagcloud {
    margin: 0;
    padding: 0;
    line-height: 4ex;
}
ol#tagcloud li {
    display: inline;
    list-style: none;
    margin-right: 0.75em;
}
ol#tagcloud a {
    white-space: nowrap;
}
ol#tagcloud .frequency {
    /* http://css-discuss.incutio.com/?page=OffLeft */
    position: absolute;
    left: -1000px;
    width: 100px;
}
