<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
	  lang="en-AU">

<?python
from itertools import groupby
from viewutils import markdown, mini_markdown, tag_list
?>

<head>
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="index.atom" />
</head>

<body py:with="sorted_blog_entries=sorted(blog_entries, key=lambda e: e.publication_date, reverse=True)">

    <div class="item blog-entry" py:with="item = sorted_blog_entries[0]">

        <h1 class="entry-title"><a href="http://www.djc.id.au/blog/${item.id}" rel="bookmark">${item.title}</a></h1>

        <div class="date published">${item.publication_date.strftime(str('%-1d %b %Y'))}</div>

        <div py:if="item.tags" class="tags">
            tagged: ${tag_list('', item.tags)} <!-- XXX script_name -->
        </div>

        <div class="entry-content">
            ${item.body}
        </div>

    </div>

    <div>
        <h2>Previous blog entries</h2>
        <div class="item blog-entry-stub" py:for="item in sorted_blog_entries[1:4]">
            <h3 class="entry-title"><a href="blog/${item.id}">${item.title}</a></h3>
            <div class="date published">${item.publication_date.strftime(str('%-1d %b %Y'))}</div>
        </div>
        <a href="blog/">more...</a>
    </div>

</body>
</html>

