<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
	  lang="en-AU">

<?python
from itertools import groupby
from viewutils import markdown, mini_markdown, tag_list
?>

<head>
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="firehose.atom" />
</head>

<body>

    <py:if test="len(blog_entries) != 0">
    <h1>Recent blog entries</h1>
    <div class="item blog-entry-stub" py:for="item in sorted(blog_entries, key=lambda e: e.publication_date, reverse=True)[:4]">
        <h3 class="entry-title"><a href="blog/${item.id}">${item.title}</a></h3>
        <div class="date published">${item.publication_date.strftime(str('%-1d %b %Y'))}</div>
        <div py:if="item.tags" class="tags">tagged: ${tag_list(item.tags)}</div>
    </div>
    <p><a href="blog/">older entries&#8230;</a></p>
    </py:if>

    <py:if test="len(reading_entries) != 0">
    <h1>Recent reading</h1>
    <div class="item reading-log-entry-stub" py:for="item in sorted((e for e in reading_entries if e.isbn), key=lambda e: e.publication_date, reverse=True)[:6]">
        <a py:strip="not item.url" href="${item.url}">
            <img py:if="item.isbn" class="cover"
                 src="/covers/isbn/${item.isbn}/thumbnail"
                 alt="${item.title.striptags()}" />
        </a>
    </div>
    <p><a href="reading">older entries&#8230;</a></p>
    </py:if>

</body>
</html>

