<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
	  lang="en-AU">

<?python
from viewutils import tag_list
?>

<head>
    <title>${item.title.striptags()} - Dan’s blog</title>
    <meta name="DC.date" content="${item.publication_date.strftime(str('%Y-%m-%d'))}" />
</head>
<body>
    <div class="item blog-entry" py:attrs="(item.language is not None) and {'lang': item.language} or {}">

        <h1 class="entry-title"><a href="${template_config.get('website')}/blog/${item.id}" rel="bookmark">${item.title}</a></h1>

        <div class="date published">${item.publication_date.strftime(str('%-1d %b %Y'))}</div>

        <div py:if="item.tags" class="tags">
            tagged: ${tag_list(item.tags)}
        </div>

        <div class="entry-content">
            ${item.body}
        </div>

        <py:if test="template_config.get('disqus_user') is not None and template_config.get('disqus_user') != ''">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://${template_config.get("disqus_user")}.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=${template_config.get('disqus_user')}">comments powered by Disqus.</a></noscript>
        </py:if>

    </div>
</body>
</html>
